<!DOCTYPE HTML>
<html><head><title>API 연동 서울 관광지 소개</title><meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="static/css/main.css"></head><body>
			<header id="header" class="alt"><div class="logo"><a href="seoul">프로젝트 4조<span></span></a></div>
				<style>
        /* 여기에 CSS를 추가하세요 */
        .grid-style {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            flex-wrap: wrap;
        }

        .box {
            width: 300px;
            height: auto;
            border: 1px solid #ccc;
            margin-bottom: 20px;
        }

        .box .content {
            padding: 20px;
        }

        .box img {
			width: 100%; /* 부모 요소의 너비에 맞게 이미지 크기 조정 */
			height: auto; /* 이미지의 원래 비율 유지 */
			display: block;
		}

        .box .text {
            text-align: center;
        }
    </style>

				<a href="#menu">Menu</a>
			</header><nav id="menu"><ul class="links"><li><a href="/">홈</a></li>
					<li><a href="/helloseoul">문화</a></li>
					<li><a href="/seoultest">관광지</a></li>
					<li><a href="/eat">맛집</a></li>
                    <li><a href="http://127.0.0.1:3000/react-news/test/src/app.js">실시간 뉴스</a></li>
                    <li><a href="/game">게임</a></li>
                    <li><a href="/register">회원가입</a></li>
                    <li><a href="/login">로그인</a></li>
				</ul></nav><section class="banner full"><article><img src="static/images/lotte.png" alt="" width="1440" height="961"><div class="inner">
						<header><p><a href="https://templated.co">서울</a></p>
							<h2>롯데월드</h2>
						</header></div>
				</article><article><img src="static/images/coex.jpg" alt="" width="1440" height="961"><div class="inner">
						<header><p>서울</p>
							<h2>코엑스</h2>
						</header></div>
				</article><article><img src="static/images/article.jpg" alt="" width="1440" height="962"><div class="inner">
						<header><p>서울</p>
							<h2>예술의 전당</h2>
						</header></div>


				</article></section><!-- One --><section id="one" class="wrapper style2"><div class="inner">
					 <div class="grid-style">
        <div class="box" id="seoul_first">
            <div class="content">
                <div class="image fit">
                    <img src="static/images/helloseoul/seoul5.jpg" alt="" style="display: block; height: 300px; object-fit:cover;">
                </div>
                <div class="text">
                    <header class="align-center">
                        <p>프로젝트 4조</p>
                        <h2>문화</h2>
                    </header>
                    <p>서울 문화 소개하기 :)</p>
                    <footer class="align-center">
                        <a href="helloseoul" class="button alt">문화 둘러보기</a>
                    </footer>
                </div>
            </div>
        </div>

        <div class="box" id="seoul_second">
            <div class="content">
                <div class="image fit">
                    <img src="static/images/helloseoul/seoul1.jpg" alt="" style="display: block; height: 300px; object-fit:cover;">
                </div>
                <div class="text">
                    <header class="align-center">
                        <p>프로젝트 4조</p>
                        <h2>관광지</h2>
                    </header>
                    <p>서울 지역 안에 특색있는 관광지를 저희 조가 소개할게요 :)</p>
                    <footer class="align-center">
                        <a href="seoultest" class="button alt">관광지 둘러보기</a>
                    </footer>
                </div>
            </div>
        </div>

        <div class="box" id="seoul_third">
            <div class="content">
                <div class="image fit">
                    <img src="static/images/eat3.jpg" alt="" style="display: block; height: 300px; object-fit: cover;">
                </div>
                <div class="text">
                    <header class="align-center">
                        <p>프로젝트 4조</p>
                        <h2>맛집</h2>
                    </header>
                    <p>서울 지역 안에 특색있는 맛집들을 저희 조가 소개할게요 :)</p>
                    <footer class="align-center">
                        <a href="eat" class="button alt">맛집 둘러보기</a>
                    </footer>
                </div>
            </div>
        </div>

        <div class="box" id="seoul_five">
            <div class="content">
                <div class="image fit">
                    <img src="static/images/news.jpg" alt="" style="display: block; height: 300px; object-fit: cover;">
                </div>
                <div class="text">
                    <header class="align-center">
                        <p>프로젝트 4조</p>
                        <h2>실시간뉴스</h2>
                    </header>
                    <p>국내 실시간 뉴스를 볼 수 있어요 :)</p>
                    <footer class="align-center">
                        <a href="http://127.0.0.1:3000/react-news/test/src/app.js" class="button alt">뉴스</a>
                    </footer>
                </div>
            </div>
        </div>

             <div class="box" id="seoul_six">
             <div class="content">
                <div class="image fit">
                    <img src="static/images/game.jpg" alt="" style="display: block; height: 300px; object-fit:cover;">
                </div>
                <div class="text">
                    <header class="align-center">
                        <p>프로젝트 4조</p>
                        <h2>관광지 게임</h2>
                    </header>
                    <p>관광지 게임을 체험해보세요 :)</p>
                    <footer class="align-center">
                        <a href="game" class="button alt">게임 보러가기</a>
                    </footer>
                </div>
            </div>
        </div>
                         </div>
			</div>
			</section>
			<script src="static/js/jquery.min.js"></script><script src="static/js/jquery.scrollex.min.js"></script><script src="static/js/skel.min.js"></script><script src="static/js/util.js"></script><script src="static/js/main.js"></script></body></html>
